.award {
  padding: 0px;
  position: relative;
  border-bottom: 3px solid $secondary-grey;

  .award__container {
    padding: 0 10%;
    display: grid;
    grid-template-columns: 1fr;

    .section__title {
      padding: 88px 0;
      font-size: 36px;
    }
    /* dialogue modifier */

    .award__dialogue {
      width: 73%;
      border-radius: 15px 15px 16px 16px;
      box-shadow: 13px 15px 0 0 $primary-blue-50;

      .dialogue__header {
        background: $grey-style4;
        border-radius: 15px 15px 0px 0px;
        padding: 32px 20px;
        text-align: start;
        .header__circle {
          margin-right: 16px;
          display: inline-block;
          width: 16px;
          height: 16px;
          border-radius: 50%;
          &:nth-child(1) {
            background-color: #FD756F;
          }
          &:nth-child(2) {
            background-color: #FFCB66;
          }
          &:nth-child(3) {
            background-color: #5FDD7A;
          }
        }
      }
      .dialogue__body {
        text-align: start;
        padding: 32px;
        background-color: #FAFEFF;
        border-width: 0px 2px 2px 2px;
        border-style: solid;
        border-color: $grey-style4;
        backdrop-filter: blur(2px);
        border-radius: 0px 0px 16px 16px;
        .body__title {
          letter-spacing: 0.1em;
        }
        .body__detail {
          margin-top: 16px;
          display: grid;
          grid-template-columns: auto 1fr;
          row-gap: 8px;
          > span {
            font-size: 18px;
            line-height: 32px;
            letter-spacing: 0.05em;
            color: $textColorMain;
          }

           ~ .body__detail {
            margin-top: 8px;
          }
        }
      }
    }
    .award__dialogue--center {
      margin-top: 72px;
      margin-bottom: 349px;
      justify-self: end;
      box-shadow: 13px 15px 0 0 $primary-yellow-50;
      .dialogue__body--list {
        background-color: #FFFDF7;

        .body__award {
          .award__item {
            display: grid;
            grid-template-columns: 1fr auto;
            grid-template-rows: auto;
            padding: 30px 0 10px 0;
            border-bottom: 2px solid $grey-style4;
            letter-spacing: 0.05em;

            .award__item--title {
              font-weight: 500;
              font-size: 20px;
              line-height: 35px;
            }
            .award__item--detail {
              font-weight: 400;
              font-size: 16px;
              line-height: 28px;
            }
            .award__item--prize {
              grid-row: 1 / 3;
              grid-column: 2 /3;
              align-self: center;
              padding: 4px 20px;
              background: $primary-yellow-70;
              border-radius: 16px;
              font-weight: 500;
              font-size: 18px;
              line-height: 36px;
            }
          }
        }
        .body__footer {
          padding-top: 30px;
          padding-bottom: 20px;
          font-weight: 500;
          font-size: 20px;
          line-height: 35px;
          letter-spacing: 0.05em;
        }
      }
    }
  }
  .bg-img--bottom {
    position: absolute;
    width: 100%;
    height: 258px;
    bottom: 0px;

    .img__link {
      display: block;
      height: 100%;
      background-image: url('/src/images/award-water.png');
      background-repeat: no-repeat;
      background-position: bottom center;
      background-size: 100% 258px;
      &:hover {
      background-image: url('/src/images/award-water-hover.png');
      }
    }
  }
}