.design {
  margin-top: 0px;
  border-bottom: 3px solid $secondary-grey;
  background-image: url('/src/images/design-gray.png');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% 232px;

  .section__title {
    padding: 3.25rem 0;
  }

  .design__title-wrapper {
    position: relative;
    margin: 10.625rem auto 7rem;
    display: flex;
    justify-content: center;
    gap: 5%;
    @include for-sm-size {
      gap: 30%;
    }
    .design__title {
      display: flex;
      flex-direction: column;

      .title__name {
        padding: 0 1rem;
        position: relative;
        /* background */
        &::after {
          content: '';
          width: 100%;
          height: 0.75rem;
          position: absolute;
          z-index: -1;
          left: 50%;
          bottom: 0.25rem;
          translate: -50% 0;
        }
        /* modifier */
        &--fe::after {
          background-color: #FEA996A1;
        }
        &--ui::after {
          background-color: $primary-yellow;
        }
      }
    }

    .title__img {
      margin-top: 2rem;
      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      @include for-sm-size {
        margin-top: 4.4375rem;
      }

      .img__link {
        max-width: 100%;
      }
    }
    /* x symbol */
    &::after {
      @include set-font(2rem, 700, 150% 0.15rem);
      content: '';
      background-image: url('/src/images/design-x.png');
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      width: 1.7rem;
      height: 1.7rem;
      top: 50%;
      left: 50%;
      translate: -50% -50%;
    }
  }
}