.propose {
  border-bottom: 3px solid $secondary-grey;

  .section__title {
    margin-top: 3.5rem;
  }

  .propose__card-wrapper {
    margin: 4.5rem auto 6.25rem;
    /* card layout */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    row-gap: 3.5rem;

    /* card body*/
    .propose__card {
      position: relative;
      width: 26rem;
      height: 26rem;
      border: 2px solid $textColorSub;
      border-radius: 20px;
      display: grid;
      
      /* individual card */
      &:nth-child(1) {
        justify-self: start;
        background-color: #F6FEFF;
        box-shadow: 13px 17px 0 0 $primary-blue-80, inset 11px 15px 0 0 #ffffff;
      }
      &:nth-child(2) {
        justify-self: center;
        background-color: #FFFCF2;
        box-shadow: 13px 17px 0 0 $primary-yellow-80, inset 11px 15px 0 0 #ffffff;
      }
      &:nth-child(3) {
        justify-self: end;
        background-color: #FFF8F6;
        box-shadow: 13px 17px 0 0 $secondary-red, inset 11px 15px 0 0 #ffffff;
      }

      .card__title {
        position: relative;
        margin: 1.5rem 1.75rem 0.9375rem;
        padding: 1rem 0 1rem 1.25rem;
        align-self: center;
        border: 2px solid $textColorSub;
        border-radius: 12px;
        /* font */
        @include set-font(1.25rem, 500, 150% 0.15rem);
        color: $textColorSub;
        text-align: start;

        .card__icon {
          position: absolute;
          top: 50%;
          right: 1.25rem;
          translate: 0 -50%;
        }
      }
    }
  }
}

.img--envy {
  width: 188px;
}
.img--useless {
  width: 176px;
}
.img--confuse {
  width: 144px;
}