.schedule {
  padding-bottom: 5.25rem;
  border-bottom: 3px solid $secondary-grey;
  background-image: url('/src/images/schedule-water.png');
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 100% 1720px;
  
  .section__title {
    padding-top: 5.5rem;
  }

  .schedule__flow-wrapper {
    margin-top: 8rem;
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    grid-template-rows: auto;
    row-gap: 2.25rem;
    grid-template-areas:
     "a b"
     "c d"
     "e f"
     "g h";

    & :nth-child(1) {
      grid-area: a;
    }
    & :nth-child(2) {
      grid-area: d;
    }
    & :nth-child(3) {
      grid-area: e;
    }
    & :nth-child(4) {
      grid-area: h;
    }
  }

  .schedule__notice {
    margin-top: 18.125rem;

    .notice__title {
      @include set-font(1.5rem, 900);
      padding-bottom: 0.75rem;
      color: $secondary-grey;
    }

    .notice__detail {
      @include set-font(1.25rem, 500);
      color: $secondary-grey;
      strong {
      @include set-font(1.25rem, 700);
      color: $secondary-grey;
      }
    }
  }

  .schedule__timeline {
    margin-top: 2rem;
    padding: 3.5rem 10% 0;
    width: 100%;
    border-top: 1px solid $secondary-blue;
    /* control content */
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

/* schedule__flow */
.schedule__flow {
  justify-self: center;
  padding: 0 2.75rem;
  .flow__title {
    width: 100%;
    padding: 0 2.75rem;
    position: relative;
    /* background */
    &::after {
      content: '';
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 1rem;
      left: 50%;
      bottom: 0px;
      translate: -50% 0;
      background-color: $primary-yellow;
    }
  }
  .flow__date {
    @include set-font(1.25rem, 400, 150%, 0.05rem);
    color: $textColorMain;
    &:nth-of-type(1) {
      margin-top: 1.1875rem;
    }
  }

  .flow__wave {
    font-size: 1.25rem;
    display: inline-block;
    rotate: 90deg;
  }

  .flow__hint {
    margin-top: 0.75rem;
    letter-spacing: 0.05em;
  }
}

/* timeline item */
.timeline__item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  
  .item__time {
    @include set-font(1.25rem, 700, 150%, 0.05rem);
    width: 200%;
    color: $secondary-grey;
    /* modifier*/
    &--start {
      translate: -50% -50%;
    }
    &--end {
      translate: 0 -50%;
    }
  }

  .item__action-wrapper {
    position: relative;
    grid-column: 1 / 3;
    border-top: 3px solid $secondary-blue;
    /* content layout */
    display: flex;
    justify-content: space-between;

    .action__content-wrapper {
      margin-top: 1.375rem;
      padding: 0.75rem 1rem;
      border-radius: 12px;
      background: rgba(255, 255, 255, 0.6);
      /* modifier */
      &--gray-border {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        background-image: linear-gradient(#98B7C4 50%, transparent 0%);
        background-position: left 4px;
        background-size: 2px 30px;
        background-repeat: repeat-y;
      }
      &--fixRadiusR {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
      }

      .action__title {
        @include set-font(1.125rem, 700, 150%, 0.05rem);
        padding-bottom: 0.5rem;
        color: $secondary-grey;
      }
      .action__team {
        letter-spacing: 0.05em;
        color: $secondary-grey;
      }
    }

    /* circle at line edge*/
    &::after,
    &::before {
      content: '';
      position: absolute;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: $secondary-blue;
    }
    &::after {
      top: 0px;
      translate: -50% calc(-50% - 1.5px);
    }
    &::before {
      translate: 50% calc(-50% - 1.5px);
      right: 0px;
    }
  }
}