.sponser {
  border-bottom: 3px solid $secondary-grey;
  .section__title {
    margin-top: 5.5rem;
    letter-spacing: 0.1em;
  }
}
.sponser__blocks {
  margin-top: 7.56rem;
  margin-bottom: 10rem;
  padding: 0 10%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content;
  gap: 10% 5%;
  @include for-sm-size {
    margin-bottom: 6.125rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15% 5%;
  }
  @include for-lg-size {
    padding: unset;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 0 10%;
  }

  .sponser__block {
    position: relative;
    padding: 0 1rem;
    border: 2px solid $secondary-grey;
    border-radius: 20px;
    &:nth-child(1) {
      box-shadow: 6px 10px 0 0 $primary-blue;
      .block__name {
        box-shadow: 4px 4px 0 0 $primary-blue;
      }
    }
    &:nth-child(2) {
      box-shadow: 6px 10px 0 0 $primary-yellow;
      .block__name {
        box-shadow: 4px 4px 0 0 $primary-yellow;
      }
    }
    &:nth-child(3) {
      box-shadow: 6px 10px 0 0 $secondary-red;
      @include for-sm-size{
        translate: 50% 0;
      }
      @include for-lg-size {
        translate: 0 0;
      }
      .block__name {
        box-shadow: 4px 4px 0 0 $secondary-red;
      }
    }

    .block__name {
      position: absolute;
      top: -50px;
      left: 25px;
      padding: 11px 10px;
      border: 3px solid $secondary-grey;
      background-color: #ffffff;
      translate: -3px;
      /* font */
      writing-mode: vertical-rl;
      @include set-font(1rem, 500, 150%, 0.4rem);
      color: #000000;
    }
    .block__name--en {
      translate: -100%;
      padding: 12px 10px;
      letter-spacing: 0.1em;
    }

    .block__img {
      margin: 10px 0 20px;
      @include for-sm-size {
        margin: 80px 0 30px;
      }
    }
  }
}