.sponser {
  border-bottom: 3px solid $secondary-grey;
  .section__title {
    margin-top: 5.5rem;
    letter-spacing: 0.1em;
  }
}
.sponser__blocks {
  margin-top: 7.56rem;
  margin-bottom: 6.125rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 15%;

  .sponser__block {
    position: relative;
    border: 2px solid $secondary-grey;
    border-radius: 20px;
    &:nth-child(1) {
      box-shadow: 6px 10px 0 0 $primary-blue;
      .block__name {
        box-shadow: 4px 4px 0 0 $primary-blue;
      }
    }
    &:nth-child(2) {
      box-shadow: 6px 10px 0 0 $primary-yellow;
      .block__name {
        box-shadow: 4px 4px 0 0 $primary-yellow;
      }
    }
    &:nth-child(3) {
      box-shadow: 6px 10px 0 0 $secondary-red;
      .block__name {
        box-shadow: 4px 4px 0 0 $secondary-red;
      }
    }

    .block__name {
      position: absolute;
      top: -50px;
      left: 25px;
      padding: 11px 10px;
      border: 3px solid $secondary-grey;
      background-color: #ffffff;
      translate: -3px;
      /* font */
      writing-mode: vertical-rl;
      @include set-font(1rem, 500, 150%, 0.4rem);
      color: #000000;
    }
    .block__name--en {
      translate: -100%;
      padding: 12px 10px;
      letter-spacing: 0.1em;
    }

    .block__img {
      margin: 80px 0 30px;
    }
  }
}