$textColorMain: #252525;
$textColorSub: #656565;
$textColorLight: #90a7d0;
$textColorWhite: #ffffff;

$primary-blue: #96F0FE;
$primary-blue-80: #ABF3FE;
$primary-blue-70: #B6F5FF;
$primary-blue-50: #CAF7FE;
$primary-yellow: #FFDC62;
$primary-yellow-80: #FFE381;
$primary-yellow-70: #FFEDB0;
$primary-yellow-50: #FFE381;
$secondary-grey: #2D3F58;
$secondary-blue: #54758B;
$secondary-red: #FEA996;

$grey-style1:#252525;
$grey-style2:#656565;
$grey-style3:#C8C8C8;
$grey-style4:#EEEBEB;
$grey-style5:#ffffff;

@mixin for-sm-size {
  @media screen and (min-width: 576px) {
    @content;
  }
}

@mixin for-lg-size {
  @media screen and (min-width: 992px) {
    @content;
  }
}

@mixin set-font($fs:1rem, $fw:400, $lh: 150%, $ls: 0.1rem) {
  font-size: $fs;
  font-weight: $fw;
  line-height: $lh;
  letter-spacing: $ls;
}

h1 {
  @include set-font(2.25rem, 700, 150%, 0.15rem);
  color: $textColorMain;
}

h2 {
  @include set-font(2rem, 700, 150% 0.15rem);
  color: $textColorMain;
}

h3 {
  @include set-font(1.5rem, 700, 150%, 0.1rem);
  color: $textColorMain;
}
