@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700;900&display=swap');
@import './base';
@import './header';
@import './_main/index';

/* CSS RESET */
:root {
  font-size: 14px;
  @include for-lg-size {
    font-size: 16px;
  }
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-style: normal;
}

body {
  @include set-font();
  color: $textColorMain;
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
  min-height: 100vh;
  font-family: 'Noto Sans TC';
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: $textColorMain;
}

ul,
li {
  list-style: none;
}






